* {
  box-sizing: border-box;
}

body {
  text-decoration: #4b4e4c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-left: 10%;
  margin-right: 5%;
  
}

h2 {
  color: #4b4e4c;

}

input[type=text], select, textarea {
  font-family: Arial, Helvetica, sans-serif;
}

#message{
  font-family: Arial, Helvetica, sans-serif;
}


label {
  padding: 5px 5px 5px 0px;
  display: inline-block;
}

input[type=submit] {
  background-color: #4b4e4c;
  color: white;
  padding: 12px 20px;
  border: 2px;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

input[type=submit]:hover {
  background-color: #f0390b;
}

.row{
  font-style: italic;
}

.container {
  max-width: 90%;
  margin: 5px;  
  border-radius: 10px;
  padding: 10px;
  background-color:#b0b7f5;
}

#resultbox {
  background-color: #797979;
  color: white;
}

.col-25 {
  float: left;
  width: 25%;
}

.col-75 {
  float: left;
  width: 75%; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout*/
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
  }
}